@import url(https://fonts.googleapis.com/css2?family=Poppins%3Awght%40400%3B500&display=swap%27%29%3B);
body{
    font-family:'Poppins',sans-serif;
    background-image:url(/img/Backgraund.jpg);
}

.box-area{
    width: 930px;
}

.right-box{
    padding: 40px 30px 40px 40px;
}

/* Esto es el header */
header{
    display: flex;
    height: 70px;
    background-color: #000000;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    
}

.logo{
    display: flex;
    align-items: center;
    margin:0;
    text-decoration: none;
    color: #ff5e00;
    font-family: Helvetica, Arial, sans-serif;
    -webkit-text-stroke: 2px #ff5e00;
}

.registro{
    text-decoration: none;
    color:#ff5e00;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding-right: 10px;
    font-weight: 600;
}
