body {
    background-image: url(Backgraund.jpg);
    margin: -30; 
    padding: 30px; 
    font-family: Arial, sans-serif; 
}

h1 {
    color: rgb(182, 125, 1);
    font-size: 60px;
    font-family: Helvetica, Arial, sans-serif;
    position: relative;
    background-color: rgb(37, 1, 121);
    top: -50px;
    left: -9px;
    padding-left: 10px;
}

.txt {
    color: rgb(0, 255, 64);
    text-align: center;
    font-size: 400%;
    font-family: Helvetica, Arial, sans-serif;
    margin: 20px 0; 
    -webkit-text-stroke: 3px rgb(0, 0, 0);
}

.txtaventura {
    color: rgb(255, 0, 0);
    text-align: center;
    font-size: 400%;
    font-family: Helvetica, Arial, sans-serif;
    margin: 20px 0; 
    -webkit-text-stroke: 3px rgb(0, 0, 0);
}

.txtcarrera {
    color: rgb(255, 0, 106);
    text-align: center;
    font-size: 400%;
    font-family: Helvetica, Arial, sans-serif;
    margin: 20px 0; 
    -webkit-text-stroke: 3px rgb(0, 0, 0);
}

.txtdeporte {
    color: rgb(255, 153, 0);
    text-align: center;
    font-size: 400%;
    font-family: Helvetica, Arial, sans-serif;
    margin: 20px 0; 
    -webkit-text-stroke: 3px rgb(0, 0, 0);
}

.txtrol {
    color: rgb(0, 204, 255);
    text-align: center;
    font-size: 400%;
    font-family: Helvetica, Arial, sans-serif;
    margin: 20px 0; 
    -webkit-text-stroke: 3px rgb(0, 0, 0);
}

h2 {
    color: rgb(13, 2, 121);
    font-size: 400%;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center; 
    margin: 20px 0; 
    -webkit-text-stroke: 3px rgb(0, 0, 0);
}

.color {
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-family: Arial, sans-serif;
    text-align: center; 
    margin: 20px 0; 
    -webkit-text-stroke: 2px rgb(255, 255, 255);
}

.centrado {
    text-align: center;
}

.boton {
    display: inline-block;
    width: 110px;
    padding: 10px;
    background-color: #3700ff;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    margin: 10px; 
}

.boton_volver {
    display: inline-block;
    width: 110px;
    padding: 10px;
    background-color: #9102d4;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, sans-serif;
    border-radius: 10px;
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
}

.games{
    display: flex;
    justify-content: center;
}

.game{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameSpacing{
    margin-right: 30px;
}

img{
    width: auto;
    height: 250px;
}

.gametxt {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 24px;
    font-family: Helvetica, Arial, sans-serif;
    margin: 20px 0; 
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    text-align: justify;
}